
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.conteiner{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fundo{
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 50px;
}

.formulario{
    width: 80%;
    height: 50%;
    display: inline-flex;
    flex-direction: column;
    text-align: left;

}