<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Aula</title>
    <link rel="stylesheet" th:href="@{/assets/css/criarAula.css}">
    <link rel="stylesheet" href="/static/assets/css/criarAula.css">
</head>
<body>
    <div class="container" th:each="modulo : ${modulo}">
        <form class="containerForm" th:action="@{/aula/adicionar}" th:object="${aula}" method="post">
            <label>Nome:</label>
            <input  type="text" name="nome"><br>

            <label>Descrição:</label>
            <textarea  type="text" name="descricao"></textarea>

            <label>Pdf:</label>
            <input type="text" name="completoPdf" >

            <label>Url Imagem:</label>
            <input  type="text" name="imgVideo">

            <label>Url Video:</label>
            <input  type="text" name="video"><br>

            <input type="hidden" name="moduloId" th:value="${modulo.id}">

            <input class="btnCriarAula" type="submit" value="Criar Aula">
        </form>
    </div>


</body>
</html>