<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criar Aula</title>
</head>
<body>
    <h1>Criar Aula</h1>
    <form th:action="@{/aula/adicionar}" th:object="${aula}" method="post">
        Indice da Aula:  <input  type="number" name="indiceDaAula"> <br>
        Nome: <input  type="text" name="nome"><br>
        Descrição:  <input  type="text" name="descricao"><br>
        Pdf:  <input type="text" name="completoPdf" ><br>
        Url Imagem:  <input  type="text" name="imgVideo"><br>
        Url Video:  <input  type="text" name="video"><br>
<!--        Curso Nome: <input name="curso" type="text"><br>-->
        <input type="submit" value="Criar Aula">
    </form>

</body>
</html>