<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/curso.css}">
    <link rel="stylesheet" href="/site/src/main/resources/static/assets/css/curso.css">
    <title>Curso</title>
</head>
<body>
        <div class="containerLink">
            <a class="linkMenu" th:href="@{/usuario/conta}">Cancelar</a>
        </div>
        <div class="container">
           <form class="cursoForm" id="cursoForm" th:action="@{/curso}" method="post" th:object="${curso}">

               <label>Nome do curso</label>
               <input type="text" name="nome">

               <label>Descrição do curso</label>
               <textarea class="descricaoIn"  cols="30" rows="10" placeholder="Descrição.." name="descricao"></textarea>

<!--               <label>Capa</label>-->
<!--               <input class="file" type="file" name="imagem">-->

<!--               <label>URL do video de apresentação</label>-->
<!--               <input type="url" name="videoApresentacao">-->

               <input class="btnCriar" type="submit" value="Criar curso">
           </form>
        </div>
</body>
</html>