<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/modulo.css}">
    <link rel="stylesheet" href="/static/assets/css/modulo.css">
    <title>Modulo</title>
</head>
<body>
    <div class="containerLink">
        <a class="linkMenu" th:href="@{/curso/editar}">Cancelar</a>
    </div>

    <div class="container" th:each="c : ${curso}">
        <form class="containerForm" id="containerForm" th:action="@{/modulo/adicionar}" method="post" th:object="${modulo}">

            <label>Nome do modulo</label>
            <input type="text" name="nome">

            <input type="hidden" name="cursoId" th:value="${curso.id}">

            <label>Descrição do modulo</label>
            <textarea class="descricaoIn" placeholder="Descrição..." name="descricao"></textarea>

            <input class="btnCriar" type="submit" value="Criar modulo">

        </form>
    </div>
</body>
</html>