<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/curso.css}">
    <link rel="stylesheet" href="/site/src/main/resources/static/css/curso.css">
    <title>Curso</title>
</head>
<body>
   
    <h2 class="nome-aluno" th:text="${curso.nome}">Bem vindo <span></span></h2>
    <div class="conteiner">
        <aside class="side-bar" th:fragment="sidebar">
            <div class="curso" th:each="modulo : ${curso.modulo}">
                <span th:text="${modulo.nome}">
                </span>
                <div class="aulas" th:each="modulo : ${curso.modulo}">
                    <div th:each="aula : ${modulo.aulas}">
                        <a th:href="@{'/aula/' + ${aula.id}}"><span th:text="${aula.nome}"></span></a>
                    </div>
                    
        
                </div>
            </div>
        </aside>
        <main class="principal-aula">
            <p th:text="${curso.nome}"></p>
        </main>
    </div>
    
</body>
</html>