<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
</head>
<body>
   
    <div class="conteiner">
        <h2 class="nome-aluno">Bem vindo <span></span></h2>
        <aside class="side-bar">
            <h2 class="modulo">
                <a href="#" class="aulas"></a>
            </h2>
        </aside>
        <main class="principal-aula">

            <h1 class="nome-aula"></h1>

            <iframe class="video-aula" src="" frameborder="0"></iframe>

            <p class="descricao"></p>

        </main>
    </div>
    
</body>
</html>