<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Aula</title>
    <link rel="stylesheet" th:href="@{/assets/css/criarAula.css}">
    <link rel="stylesheet" href="/static/assets/css/criarAula.css">
</head>
<body>

    <div class="containerLink">
        <a class="linkMenu" th:href="@{/curso/editar}">Cancelar</a>
    </div>

    <div class="container" th:each="aula : ${aula}">
        <form class="containerForm" th:action="@{/aula/update}" th:object="${aula}" method="post">
            <input  type="hidden" name="id" th:value="${aula.id}">

            <label>Nome:</label>
            <input  type="text" name="nome" th:placeholder="${aula.nome}" th:value="${aula.nome}">

<!--            <label>Descrição:</label>-->
<!--            <textarea  type="text" name="descricao" th:text="${aula.descricao}"></textarea>-->

<!--            <label>Pdf:</label>-->
<!--            <input type="text" name="completoPdf" >-->

<!--            <label>Url Imagem:</label>-->
<!--            <input  type="text" name="imgVideo">-->

            <label>Url Video:</label>
            <input  type="text" name="video" th:value="${aula.video}">

            <input type="hidden" name="moduloId" th:value="${aula.moduloId}">

            <input class="btnCriarAula" type="submit" value="Editar Aula">
        </form>
    </div>


</body>
</html>