<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/editarConteudo.css}">
    <link rel="stylesheet" href="/site/src/main/resources/static/assets/css/editarConteudo.css">
    <title>Editar Curso</title>
</head>
<body>

    <div class="containerLink">
        <a class="linkMenu" th:href="@{/usuario/conta}">Minha Conta</a>
    </div>
    <div class="container" th:each="curso : ${curso}">
        <div class="containerConteudo">
            <div class="containerEditarCurso">
                <h2 class="nomeCurso" th:text="${curso.nome}">Nome do Curso</h2>
                <form th:action="@{/curso/editar}" th:object="${curso}" method="post">
                    <input type="hidden" name="id" th:value="${curso.id}">
                    <input class="btnEd" type="submit" value="Editar">
                </form>
            </div>

            <form class="containerFormModulo" th:action="@{/curso/cria/modulo}" method="post" th:object="${curso}">
                <input type="hidden" name="id" th:value="${curso.id}">
                <input class="btnCriarModulo" type="submit" value="Novo Módulo">
            </form>

            <div class="containerCriaAula" th:each="modulo : ${#lists.sort(curso.modulo)}">

                <div class="containerEditarCancelar">
                    <h2 class="nomeModulo" th:text="${modulo.nome}">Modulo 1</h2>
                    <form th:action="@{/modulo/editar}" th:object="${modulo}" method="post">
                        <input type="hidden" name="id" th:value="${modulo.id}">
                        <input class="btnEd" type="submit" value="Editar">
                    </form>
                </div>

                <div class="containerAulas" th:each="aula : ${#lists.sort(modulo.aulas)}">
                    <span class="aulaNome" th:text="${aula.nome}">Aula 1</span>
                    <div class="containerEditarCancelarAula">
                        <form th:action="@{/aula/apagar}" th:object="${aula}" method="post">
                            <input type="hidden" name="id" th:value="${aula.id}">
                            <input type="hidden" name="moduloId" th:value="${aula.moduloId}">
                            <input class="btnEd" type="submit" value="Apagar">
                        </form>

                        <form th:action="@{/aula/editar}" th:object="${aula}" method="post">
                            <input type="hidden" name="id" th:value="${aula.id}">
                            <input type="hidden" name="moduloId" th:value="${aula.moduloId}">
                            <input class="btnEd" type="submit" value="Editar">
                        </form>
                    </div>
                </div>

                <form class="novaAula" th:action="@{/modulo/cria/aula}" th:object="${modulo}" method="post">
                    <input type="hidden" name="id" th:value="${modulo.id}">
                    <input class="btnCriarAula" type="submit" value="Nova Aula">
                </form>
            </div>
        </div>
    </div>
</body>
</html>