<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form action="/usuario" th:action="@{/usuario}" th:object="${usuario}" method="post">
        Nome: <input type="text" placeholder="Nome" name="nomeCompleto">
        Emaila: <input type="text" placeholder="Email" name="email">
        Nome usuario: <input type="text" placeholder="Nome de Usuario" name="username">
        Senha: <input type="password" placeholder="Senha" name="senha">
        <input type="submit" value="Inscrever">
    </form>
    <span th:text="${mensagem}"></span>
    
</body>
</html>