<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="formulario" th:action="@{/process-login}" method="post">
            <label for="username">Nome de Usuario</label>
            <input th:object="${usuario}" type="text" id="username" name="username" autocomplete="none"/>
            <label for="password">Senha</label>
            <input type="password" id="password" name="senha" />
            <input class="btnEntrar" type="submit" value="Log in" />
        </form>
        <span>ou</span>
        <form class="formulario" th:action="@{/process-login}" method="post">
            <input type="hidden" id="username" name="username" value="recrutador"/>
            <input type="hidden" id="password" name="senha" value="recrutador123"/>
            <input class="btnEntrar2" type="submit" value="Recrutador" />
        </form>

        <a th:href="@{/usuario/formulario}" class="linkCriaConta">Criar Uma Conta</a>
    </div>
    <div th:if="${param.error}" class="alert">
        <span>Usuario ou Senha inválido!</span>
    </div>
</body>
</html>