<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <div class="fundo">

            <form class="formulario" th:action="@{/process-login}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="senha" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>
    </div>
</body>
</html>