<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="formulario" th:action="@{/process-login}" method="post">
            <label for="username">Nome de Usuario</label>
            <input type="text" id="username" name="username" autofocus="autofocus"/>
            <label for="password">Senha</label>
            <input type="password" id="password" name="senha" />
            <input class="btnEntrar" type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>