<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/conta.css}">
    <link rel="stylesheet" href="/static/assets/css/conta.css">
    <title>Minha Conta</title>
</head>
<body>
    <div class="containerLink">
        <a class="linkMenu" th:href="@{/criar-curso}">Criar Curso</a>
        <a class="linkMenu" th:href="@{/curso/todos}">Todos os Cursos</a>
        <a class="linkMenu" th:href="@{/logout}">Sair</a>
    </div>

    <div class="container">
        <main class="containerMain">
            <h1>Meus Cursos</h1>
            <h2>Seja bem vindo(a): <span th:text="${usuario.username}">usuario</span></h2>
        </main>

        <div class="ContainerConteudo" th:each="historico : ${usuario.historicoAula}">
            <h3>Cursos Comprados</h3>
            <a class="nomeCurso" th:href="'/aula/' + ${historico.aulaHistorico}"><span th:text="${historico.nomeCurso}">curso aqui</span></a>
        </div>
    </div>
</body>
</html>