<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cursos</title>
    <link rel="stylesheet" th:href="@{/assets/css/todosOsCursos.css}">
    <link rel="stylesheet" href="/static/assets/css/todosOsCursos.css">
</head>
<body>
    <div class="containerLink">
        <a class="linkMenu" th:href="@{/usuario/conta}">Minha Conta</a>
        <a class="linkMenu" th:href="@{/logout}">Sair</a>
    </div>
    <div>
    <div class="container">
      <div class="containerCurso" th:each="curso : ${cursos}">
        <h2 class="nomeCurso" th:text="${curso.nome}">curso</h2>
        <form class="containerForm" th:action="@{/usuario/comprar}" th:object="${curso}" method="post">
          <input type="hidden" name="id" th:value="${curso.id}">
          <input class="btn" type="submit" value="Inscrever-se">
        </form>
      </div>
    </div>
    </div>
</body>
</html>