*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    text-decoration: none;
}
body{
    height: 100%;
    /*width: 100vw;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerMenu{
    width: 90vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-size: 30px;
    text-transform: uppercase;
}
.logo span{
    color: red;
}

.linkMenu{
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
}
.linkMenu:hover{
    font-size: 22px;
    color: #4b4b4b;
    border-top: 1px solid #4b4b4b;
    padding-top: 10px;
}
.btnLogout{
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #4b4b4b;
    text-decoration: none;
}
.btnLogout:hover{
    font-size: 23px;
    background-color: #4b4b4b;
    color: white;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    max-height: 100vh;
    overflow: auto;

}
.sideBar{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 75vh;
    overflow: auto;
    border-right: 1px solid black;
    /*transition: left 300ms ease-in-out;*/
}
.svgAbrir{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 10px;
    cursor: pointer;
}
.svgFechar{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 25px;
    top: 10px;
    cursor: pointer;
}
.containerBtnSvg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.svgAbrirMenu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.svgFecharMenu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.containerConteudo{
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow: auto;*/
}
.containerCurso1{
    padding: 5px 20px;
}
.nomeModulo{
    /*width: 80%;*/
    border-bottom: 1px solid #4b4b4b;
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}
.nomeModulo:hover{
    color: #00147c;
    font-size: 22px;
    margin-bottom: 15px;
}
.aula{
    display: none;
}
.btnNomeAula{
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-left: 5px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
}
.btnNomeAula:hover{
    color: #00147c;
    font-size: 18px;
}

.containerConteudo h4{
    position: relative;
    text-transform: capitalize;
    font-size: 30px;
    padding: 30px;
}
.containerVideo{
    width: 60vw;

}
.containerVideo div{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;

}
.containerVideo div iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.rodape{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape a{
    text-decoration: none;
}
.logoRed{
    color: red;
}
.active{
    display: block;
}

@media (max-width: 850px) {
    .containerMenu{
        width: 100vw;
        /*align-items: center;*/
    }
    .logo{
        font-size: 25px;
        margin-left: 20px;
    }
    .containerBtnSvg{
        margin-right: 20px;
    }
    .naveBar{
        display: none;
        flex-direction: column;
        padding-top: 20px;
        /*align-items: center;*/
        gap: 30px;
        position: absolute;
        top: 15vh;
        width: 100%;
        height: calc(100vh - 15vh);
        background-color: #4b4b4b;
        z-index: 99;
    }
    .naveBar a{
        text-align: left;
        width: 80%;
    }
    .naveBar a:hover{
        padding-left: 10px;
        background-color: #2c2c2c;
        border-left: 1px solid black;
    }
    .containerConteudo h4{
        font-size: 30px;
    }
    .svgAbrirMenu{
        display: block;
    }


}
@media (max-width: 350px) {
    .logo{
        font-size: 20px;
    }
    .containerBtnSvg{
        gap: 10px;
    }
    .btnLogout{
        font-size: 10px;
    }
    .containerConteudo h4{
        font-size: 25px;
    }
}
@media (max-width: 350px) {

    .containerConteudo h4{
        font-size: 20px;
    }
}