*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    font-family: Arial;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerLink{
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: right;
    gap: 20px;
}
.linkMenu{
    padding: 10px 30px;
    text-align: center;
    background-color: #919191;
    border-radius: 20px;
    color: #efefef;
}
.container{
    position: relative;
    width: 90vw;
    /*background-color: aqua;*/
}
.containerMain{
    justify-content: center;
    height: 25vh;
    margin-top: 30px;
}
.containerMain h1{
    text-align: center;
    font-size: 40px;
}
.containerMain h2{
    font-size: 20px;
    margin-top: 10px;
}
.ContainerConteudo{
    /*height: 70.5vh;*/
    margin-bottom: 20px;

}
.tituloCurso{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}
.nomeCurso{
    background: none;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 22px 0;
    color: #800000;
}
@media (max-width: 620px){
    .containerMain h1{
        font-size: 25px;
    }
    .linkMenu{
        padding: 7px 25px;
    }
    .containerMain h2{
        font-size: 18px;
        margin-top: 10px;
    }
    .container h3{
        font-size: 22px;
        margin-top: 10px;
    }
    .ContainerConteudo span{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .nomeCurso{
        font-size: 15px;
        text-transform: uppercase;
        padding: 20px 0;
    }
}
@media (max-width: 500px){
    .containerMain h1{
        font-size: 22px;
    }
    .containerLink{
        font-size: 12px;
    }
    .linkMenu{
        padding: 5px 18px;
    }
    .containerMain h2{
        font-size: 16px;
        margin-top: 10px;
    }
    .container h3{
        font-size: 20px;
        margin-top: 10px;
    }
    .ContainerConteudo span{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .nomeCurso{
        font-size: 15px;
        text-transform: uppercase;
        padding: 20px 0;
    }
}
@media (max-width: 360px){
    .containerMain h1{
        font-size: 22px;
    }
    .containerLink{
        font-size: 12px;
    }
    .linkMenu{
        padding: 5px 15px;
    }
    .containerMain h2{
        font-size: 16px;
        margin-top: 10px;
    }
    .container h3{
        font-size: 20px;
        margin-top: 10px;
    }
    .ContainerConteudo span{
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .nomeCurso{
        font-size: 13px;
        text-transform: uppercase;
        padding: 20px 0;
    }
}
