*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.containerLink{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: right;
    gap: 30px;
    align-items: center;
}
.excluirCurso{
    display: flex;
    align-items: center;
    justify-content: center;
}
.excluirCurso input{
    height: 40px;
    width: 150px;
    border: none;
    background: none;
    text-align: center;
    margin: auto;
    color: red;
    font-size: 18px;
}
.linkMenu{
    padding: 10px 30px;
    text-align: right;
    margin-right: 20px;
    background-color: #919191;
    border-radius: 20px;
}
.container{
    margin-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;

}
.cursoForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
textarea{
    padding: 10px;
    height: 100px;
    width: 88%;
    border-radius: 10px;
    margin-bottom: 20px;
}
label{
    width: 90%;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.file{
    border: none;

}
input{
    border-radius: 10px;
    border: 1px solid #4b4b4b;
    margin-bottom: 20px;
    width: 87.5%;
    height: 40px;
    padding: 2px 15px;
}
.btnCriar{
    color: #ababab;
    width: 150px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: #4b4b4b;
}
