*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    text-decoration: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
.containerLink{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: right;
}
.linkMenu{
    padding: 10px 30px;
    text-align: right;
    margin-right: 20px;
    background-color: #919191;
    border-radius: 20px;
}
.container{
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.nomeCurso{
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px;
}
.containerFormModulo{
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 30px 0;
}
.btnCriarModulo{
    height: 35px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background-color: #ababab;
}
.btnCriarModulo:hover{
    background-color: #252525;
    color: #f5f5f5;
}
.nomeModulo{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;
}
.containerAulas{
    border-bottom: 1px solid #2c2c2c;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.containerEditarCancelar{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.btnEd{
    border: none;
    color: red;
    background-color: snow;
}
.btnEd:hover{
    font-size: 18px;
    color: #2c2c2c;
}
.novaAula{
    display: flex;
    width: 100%;
    margin: 20px 0;
}
.btnCriarAula{
    margin: auto;
    height: 35px;
    width: 180px;
    border: none;
    background-color: #ababab;
    border-radius: 10px;
}
.btnCriarAula:hover{
    background-color: #252525;
    color: #f5f5f5;
}