*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 1200px;
    display: flex;
}
.containerConteudo{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
}
.containerCriaAula{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}
.containerForm{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.containerForm input{
    width: 800px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.containerForm .descricaoIn{
    height: 150px;
}
.containerForm .btnCriar{
    width:190px;
    background-color: white;
    border: none;
}
.containerAulas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.active{
    /*position: relative;*/
    display: flex;
    background-color: aqua;
    z-index: 22;
    width: 100%;
    height: 100%;
    /*justify-content: center;*/
    /*align-items: center;*/

}